<div class="column">
    <h2>Weekly Record </h2>
    <div class="card mt-3">
        <div class="card-body">
            <div class="form-group row" *ngFor="let record of records">
                <div class="col-sm-2">
                  <button type="button" data-toggle="modal" data-target="#displayModal" (click)="showAlert(record)" class="btn btn-success"> Display </button>
                </div>
                <div class="col-sm-2"> <h6> {{ record.day }}</h6> </div>
                <div class="col-sm-3"><p> {{ record.dateTime | date: 'medium' }}</p></div>
                <div class="col-sm-3"><p> {{ record.dateTime | date: 'medium' }}</p></div>
                <div class="col-sm-2"><button type="button" class="btn btn-primary" (click)="goToEdit()">Edit</button></div>
            </div>
        </div>
    </div> 
</div>
    
<div class="modal fade" id="displayModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Selected Record</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{selectedRecord.day}}</p>
          <p> {{ selectedRecord.dateTime | date:'medium' }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
        </div>
      </div>
    </div>
  </div> 